

poema { display: block; margin: 40px;}

titulo {display: block; font-size:24px; font-weight: bold; margin:18px;}

quadra, terceto, verso {display: block;}

quadra, terceto { margin-bottom: 20px;}

nome {color: red;}

lugar {color: green;}